/* * {
  width: 100%;
  box-sizing: border-box;
} */

body {
  background-color: #fff;
  margin: auto;
  font-family: sans-serif;
  font-size: 85%;
  /* line-height: 50%; */
  overflow-y: scroll;
}

.child {
  border: 1px solid #ddd;
  box-sizing: border-box;
  margin-top: 12px;
  width: 100%;
}

.child > div {
  width: 100%;
}

.main {
  max-width: 350px;
  box-sizing: border-box;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

/* .block {
  display: block;
} */
.ch-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.insta-img {
  /* margin-top: 24px;
  margin-bottom: 12px;
  margin*/
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 46px 0 12px 0;
  cursor: pointer;
}

.fb-logo {
  width: 16px;
  height: 16px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
}

.main-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  margin-top: 28px;
}

.main-form > div {
  width: 268px;
}

.block input {
  width: 100%;
  height: 38px;
  box-sizing: border-box;
  margin-bottom: 6px;
  padding: 5px;
  background-color: rgb(250, 250, 250);
  border: 1px solid rgb(220, 220, 220);
  border-radius: 3px;
  /* color: rgba(220, 220, 220, 0.712); */
}

input::placeholder {
  color: rgb(142, 142, 142);
  font-size: 12px;
  padding: 0 4px;
}

.button {
  width: 100%;
  height: 32px;
  margin: 8px auto;
  background-color: rgba(0, 148, 246, 0.7);
  border: none;
  border-radius: 8px;
  color: #ffffff7e;
}

.line {
  height: 1px;
  width: 100%;
  box-sizing: border-box;
  background-color: #ddd;
}

.or {
  height: 15px;
  margin: 10px 0 18px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.or2 {
  margin: 0 20px;
  font-size: 13px;
  color: #ffffff7e;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.fb-logo {
  margin-right: 8px;
}

.login-with-fb {
  margin: 8px 0;
}

.login-fb {
  color: #385185;
  /* margin-top: 8px; */
}

.forgot-password:link,
.forgot-password:hover,
.forgot-password:active,
.forgot-password:visited {
  text-decoration: none;
  font-size: 12px;
  margin-top: 12px;
  margin-bottom: 20px;
  color: rgb(0, 55, 107);
}

.ch-2 {
  text-align: center;
}

.sign-up {
  color: rgb(0, 149, 246);
  text-decoration: none;
  font-weight: 550;
}

.get-app {
  height: 40px;
}

.images {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.ch-3 {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div p {
  text-align: center;
}
